<div class="card mb-4">
  <div class="card-body bg-light">
    <img class="img-thumbnail float-right"
      src="https://api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span *ngFor="let s of stars"
          class="badge badge-secondary">⭐️</span>
      </h2>
    </div>
    <p>
      {{ book.description }}
    </p>

    <!-- auweia! logik im html und mutiert! 😱 -->

    <button (click)="book.rating = book.rating - 1" class="btn btn-secondary mr-2">-</button>
    <button (click)="book.rating = book.rating + 1" class="btn btn-primary mr-2">+</button>

  </div>
</div>
